.ansi-black-bg { background-color: #3e424d; }
.ansi-red-bg { background-color: #e75c58; }
.ansi-green-bg { background-color: #00a250; }
.ansi-yellow-bg { background-color: #ddb62b; }
.ansi-blue-bg { background-color: #208ffb; }
.ansi-magenta-bg { background-color: #d160c4; }
.ansi-cyan-bg { background-color: #60c6c8; }
.ansi-white-bg { background-color: #c5c1b4; }
.ansi-black-intense-fg { color: #282c36; }
.ansi-red-intense-fg { color: #b22b31; }
.ansi-green-intense-fg { color: #007427; }
.ansi-yellow-intense-fg { color: #b27d12; }
.ansi-blue-intense-fg { color: #0065ca; }
.ansi-magenta-intense-fg { color: #a03196; }
.ansi-cyan-intense-fg { color: #258f8f; }
.ansi-white-intense-fg { color: #a1a6b2; }
.ansi-black-intense-bg { background-color: #282c36; }
.ansi-red-intense-bg { background-color: #b22b31; }
.ansi-green-intense-bg { background-color: #007427; }
.ansi-yellow-intense-bg { background-color: #b27d12; }
.ansi-blue-intense-bg { background-color: #0065ca; }
.ansi-magenta-intense-bg { background-color: #a03196; }
.ansi-cyan-intense-bg { background-color: #258f8f; }
.ansi-white-intense-bg { background-color: #a1a6b2; }
.ansi-bold { font-weight: bold; }
.ansi-underline { text-decoration: underline; }
{ background-color: #a03196; }
.ansi-cyan-intense-bg { background-color: #258f8f; }
.ansi-white-intense-bg { background-color: #a1a6b2; }
.ansi-bold { font-weight: bold; }
.ansi-underline { text-decoration: underline; }
